body {
  font-family: Arial, sans-serif;
  background-image: url('wheat_field.jpg'); /* Изображение поля с колосьями */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7); /* Чтобы текст был легче читаемым на фоне */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #2c6e49; /* Зеленый */
}

form {
  margin-top: 20px;
}

label {
  font-weight: bold;
}

input[type="number"] {
  padding: 8px;
  width: 100%;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #2c6e49; /* Зеленый */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #225836; /* Темный зеленый */
}

#message {
  margin-top: 20px;
}
